

   <%- include('layout/header') %>
   <div class="container">
    <div class="row">
        <div class="col-ig-12">
            <% if (message){ %>
                <div class="alert alert-dismissible fade show alert-<%= message.type %>"
                    role="alert">
                    <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="close"></button>
                    <strong><%=message.message %></strong>
                </div>
                  <% } %>

<div class="table-responsive">
    <% if (users != '') {%>

        <table border="1" style="width: 100%; border-collapse: collapse; text-align: left;">
            <thead>
                <tr class="">
                    <th style="padding: 8px; background-color: #f2f2f2;">ID</th>
                    <th style="padding: 8px; background-color: #f2f2f2;">Image</th>
                    <th style="padding: 8px; background-color: #f2f2f2;">Name</th>
                    <th style="padding: 8px; background-color: #f2f2f2;">Father Name</th>
                    <th style="padding: 8px; background-color: #f2f2f2;">Email</th>
                    <th style="padding: 8px; background-color: #f2f2f2;">Phone Number</th>
                    <th style="padding: 8px; background-color: #f2f2f2;">Action</th>
                </tr>
            </thead>
            <tbody>
               <% users.forEach((row,index)=>{ %>
                <tr class="align-middle">
                    <td style="padding: 8px;"><%= index %></td>
                    <td style="padding: 8px;"><img src="<%= row.image %>"  width="50" class="img-thumbnail" alt="Image 1" style="width: 50px; height: auto;"/></td>
                    <td style="padding: 8px;"><%= row.name %></td>
                    <td style="padding: 8px;"><%= row.fathername %></td>
                    <td style="padding: 8px;"><%=  row.email %></td>
                    <td style="padding: 8px;"><%= row.phone %></td>
                    <td style="padding: 8px;"> <a href="/edit/<%= row._id %>" class="text-primary"><i class="fas fa-edit fa-ig mx-1"></i></a>
    
                        <a href="/delete/<%= row._id %>" class="text-danger"><i class="fas fa-trash fa-ig mx-1"></i></a>
                    </td>
    
                </tr>
               
                <% }) %>
            </tbody>
        </table>
    
    <% }else { %>
        <h1 class="text-center text secondary mt-5">No User found  in the database!</h1>
        <% } %>
  
</div>
<!-- Tushar@0000#  -->
        </div>

    </div>
   </div>
   
   <%- include('layout/footer') %>